# Salin file ini menjadi .env dan sesuaikan nilainya
# cp .env.example .env

DATABASE_URL=postgresql://postgres:PASSWORD@localhost:5432/nama_database
SECRET_KEY=ganti-dengan-random-string-yang-panjang-dan-kuat
